body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4791 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4794 {
  position:absolute;
  left:10px;
  top:31px;
  width:320px;
  height:45px;
}
#u4795 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u4797 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:21px;
}
#u4798 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u4800 {
  position:absolute;
  left:24px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u4801 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u4802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4802 {
  position:absolute;
  left:10px;
  top:76px;
  width:320px;
  height:506px;
}
#u4803 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u4804 {
  position:absolute;
  left:24px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u4805 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4806 {
  position:absolute;
  left:45px;
  top:43px;
  width:98px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4808 {
  position:absolute;
  left:255px;
  top:44px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4809 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4813 {
  position:absolute;
  left:369px;
  top:31px;
  width:320px;
  height:45px;
}
#u4814 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u4816 {
  position:absolute;
  left:369px;
  top:10px;
  width:320px;
  height:21px;
}
#u4817 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u4819 {
  position:absolute;
  left:383px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u4820 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4821 {
  position:absolute;
  left:369px;
  top:76px;
  width:320px;
  height:506px;
}
#u4822 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4823 {
  position:absolute;
  left:393px;
  top:91px;
  width:65px;
  height:65px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4825 {
  position:absolute;
  left:468px;
  top:116px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4826 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u4827 {
  position:absolute;
  left:383px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u4828 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4829 {
  position:absolute;
  left:404px;
  top:43px;
  width:98px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4830 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4831 {
  position:absolute;
  left:614px;
  top:44px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:2px;
}
#u4833 {
  position:absolute;
  left:378px;
  top:578px;
  width:303px;
  height:1px;
}
#u4834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4835 {
  position:absolute;
  left:393px;
  top:166px;
  width:65px;
  height:65px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4837 {
  position:absolute;
  left:468px;
  top:191px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4839 {
  position:absolute;
  left:393px;
  top:241px;
  width:65px;
  height:65px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4841 {
  position:absolute;
  left:468px;
  top:266px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4843 {
  position:absolute;
  left:393px;
  top:316px;
  width:65px;
  height:65px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4845 {
  position:absolute;
  left:468px;
  top:341px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4847 {
  position:absolute;
  left:393px;
  top:391px;
  width:65px;
  height:65px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4849 {
  position:absolute;
  left:468px;
  top:416px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4851 {
  position:absolute;
  left:393px;
  top:466px;
  width:65px;
  height:65px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4853 {
  position:absolute;
  left:468px;
  top:491px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4854 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4855 {
  position:absolute;
  left:110px;
  top:116px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4857 {
  position:absolute;
  left:35px;
  top:166px;
  width:65px;
  height:65px;
}
#u4858 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4859 {
  position:absolute;
  left:110px;
  top:191px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4860 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4861 {
  position:absolute;
  left:35px;
  top:241px;
  width:65px;
  height:65px;
}
#u4862 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4863 {
  position:absolute;
  left:110px;
  top:266px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4865 {
  position:absolute;
  left:35px;
  top:316px;
  width:65px;
  height:65px;
}
#u4866 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4867 {
  position:absolute;
  left:110px;
  top:341px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4869 {
  position:absolute;
  left:35px;
  top:391px;
  width:65px;
  height:65px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4871 {
  position:absolute;
  left:110px;
  top:416px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4873 {
  position:absolute;
  left:35px;
  top:466px;
  width:65px;
  height:65px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4875 {
  position:absolute;
  left:110px;
  top:491px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:11px;
  top:547px;
  width:319px;
  height:35px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u4879 {
  position:absolute;
  left:35px;
  top:91px;
  width:65px;
  height:65px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:2px;
}
#u4882 {
  position:absolute;
  left:19px;
  top:579px;
  width:303px;
  height:1px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:21px;
  top:552px;
  width:102px;
  height:16px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4886 {
  position:absolute;
  left:296px;
  top:551px;
  width:15px;
  height:15px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4888 {
  position:absolute;
  left:194px;
  top:551px;
  width:102px;
  height:16px;
  text-align:right;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  position:absolute;
  left:370px;
  top:547px;
  width:319px;
  height:35px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4892 {
  position:absolute;
  left:380px;
  top:555px;
  width:102px;
  height:16px;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4894 {
  position:absolute;
  left:655px;
  top:554px;
  width:15px;
  height:15px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4896 {
  position:absolute;
  left:452px;
  top:554px;
  width:193px;
  height:16px;
  text-align:right;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4899 {
  position:absolute;
  left:18px;
  top:46px;
  width:21px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4900 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
