body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:10px;
  top:31px;
  width:320px;
  height:45px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u4969 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:21px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u4972 {
  position:absolute;
  left:24px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u4973 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  position:absolute;
  left:10px;
  top:76px;
  width:320px;
  height:506px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4976 {
  position:absolute;
  left:58px;
  top:117px;
  width:40px;
  height:40px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4978 {
  position:absolute;
  left:58px;
  top:176px;
  width:40px;
  height:40px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4980 {
  position:absolute;
  left:109px;
  top:129px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4982 {
  position:absolute;
  left:108px;
  top:188px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4984 {
  position:absolute;
  left:23px;
  top:87px;
  width:17px;
  height:17px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4986 {
  position:absolute;
  left:23px;
  top:129px;
  width:17px;
  height:17px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4988 {
  position:absolute;
  left:23px;
  top:188px;
  width:17px;
  height:17px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4990 {
  position:absolute;
  left:50px;
  top:89px;
  width:186px;
  height:16px;
  color:#000000;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u4992 {
  position:absolute;
  left:202px;
  top:89px;
  width:114px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4994 {
  position:absolute;
  left:81px;
  top:44px;
  width:177px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4996 {
  position:absolute;
  left:285px;
  top:44px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4998 {
  position:absolute;
  left:21px;
  top:128px;
  width:22px;
  height:20px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5001 {
  position:absolute;
  left:18px;
  top:46px;
  width:21px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5002 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
