body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:10px;
  top:31px;
  width:320px;
  height:45px;
}
#u946 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u948 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:21px;
}
#u949 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:10px;
  top:76px;
  width:320px;
  height:506px;
}
#u951 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:144px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u955 {
  position:absolute;
  left:188px;
  top:286px;
  width:40px;
  height:40px;
}
#u956 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u957 {
  position:absolute;
  left:193px;
  top:335px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u960 {
  position:absolute;
  left:109px;
  top:377px;
  width:40px;
  height:40px;
}
#u961 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u962 {
  position:absolute;
  left:115px;
  top:427px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u965 {
  position:absolute;
  left:109px;
  top:193px;
  width:40px;
  height:40px;
}
#u966 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u967 {
  position:absolute;
  left:118px;
  top:243px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u970 {
  position:absolute;
  left:185px;
  top:194px;
  width:40px;
  height:40px;
}
#u971 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u972 {
  position:absolute;
  left:177px;
  top:243px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u975 {
  position:absolute;
  left:33px;
  top:102px;
  width:40px;
  height:40px;
}
#u976 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u977 {
  position:absolute;
  left:35px;
  top:151px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u980 {
  position:absolute;
  left:266px;
  top:101px;
  width:40px;
  height:40px;
}
#u981 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u982 {
  position:absolute;
  left:274px;
  top:150px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u985 {
  position:absolute;
  left:37px;
  top:195px;
  width:40px;
  height:40px;
}
#u986 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u987 {
  position:absolute;
  left:34px;
  top:245px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u992 {
  position:absolute;
  left:109px;
  top:101px;
  width:40px;
  height:40px;
}
#u993 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u994 {
  position:absolute;
  left:111px;
  top:150px;
  width:37px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u997 {
  position:absolute;
  left:39px;
  top:288px;
  width:40px;
  height:40px;
}
#u998 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u999 {
  position:absolute;
  left:47px;
  top:337px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1002 {
  position:absolute;
  left:266px;
  top:194px;
  width:40px;
  height:40px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1004 {
  position:absolute;
  left:262px;
  top:243px;
  width:49px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1007 {
  position:absolute;
  left:177px;
  top:151px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1009 {
  position:absolute;
  left:182px;
  top:101px;
  width:40px;
  height:40px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1013 {
  position:absolute;
  left:23px;
  top:555px;
  width:45px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1015 {
  position:absolute;
  left:263px;
  top:555px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1017 {
  position:absolute;
  left:95px;
  top:555px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1019 {
  position:absolute;
  left:182px;
  top:555px;
  width:49px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  position:absolute;
  left:1311px;
  top:272px;
  width:92px;
  height:144px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:64px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1023 {
  position:absolute;
  left:1322px;
  top:289px;
  width:70px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1025 {
  position:absolute;
  left:1322px;
  top:349px;
  width:70px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1027 {
  position:absolute;
  left:1322px;
  top:318px;
  width:70px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1029 {
  position:absolute;
  left:1322px;
  top:381px;
  width:70px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1032 {
  position:absolute;
  left:38px;
  top:380px;
  width:40px;
  height:40px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1034 {
  position:absolute;
  left:34px;
  top:430px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1037 {
  position:absolute;
  left:109px;
  top:286px;
  width:40px;
  height:40px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1039 {
  position:absolute;
  left:117px;
  top:335px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1042 {
  position:absolute;
  left:262px;
  top:284px;
  width:40px;
  height:40px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1044 {
  position:absolute;
  left:262px;
  top:333px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1047 {
  position:absolute;
  left:184px;
  top:377px;
  width:40px;
  height:40px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1049 {
  position:absolute;
  left:183px;
  top:427px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1052 {
  position:absolute;
  left:263px;
  top:377px;
  width:40px;
  height:40px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1054 {
  position:absolute;
  left:262px;
  top:427px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1057 {
  position:absolute;
  left:39px;
  top:474px;
  width:40px;
  height:40px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1059 {
  position:absolute;
  left:38px;
  top:524px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1062 {
  position:absolute;
  left:110px;
  top:474px;
  width:40px;
  height:40px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1064 {
  position:absolute;
  left:109px;
  top:524px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1067 {
  position:absolute;
  left:184px;
  top:474px;
  width:40px;
  height:40px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1069 {
  position:absolute;
  left:183px;
  top:524px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
