body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5861 {
  position:absolute;
  left:10px;
  top:31px;
  width:320px;
  height:45px;
}
#u5862 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u5864 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:21px;
}
#u5865 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u5867 {
  position:absolute;
  left:24px;
  top:44px;
  width:11px;
  height:18px;
  color:#CCCCCC;
}
#u5868 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5869 {
  position:absolute;
  left:10px;
  top:76px;
  width:320px;
  height:506px;
}
#u5870 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5871 {
  position:absolute;
  left:154px;
  top:45px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5872 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  position:absolute;
  left:27px;
  top:123px;
  width:288px;
  height:127px;
}
#u5874 {
  position:absolute;
  left:2px;
  top:56px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u5875 {
  position:absolute;
  left:91px;
  top:153px;
  width:156px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u5876 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u5877 {
  position:absolute;
  left:114px;
  top:210px;
  width:101px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u5878 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:2px;
}
#u5879 {
  position:absolute;
  left:112px;
  top:187px;
  width:119px;
  height:1px;
  font-size:14px;
}
#u5880 {
  position:absolute;
  left:2px;
  top:-8px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5881 {
  position:absolute;
  left:67px;
  top:308px;
  width:196px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u5882 {
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5884 {
  position:absolute;
  left:18px;
  top:46px;
  width:21px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5885 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
