body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u2714 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:569px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:63px;
}
#u2716 {
  position:absolute;
  left:30px;
  top:516px;
  width:278px;
  height:63px;
}
#u2717 {
  position:absolute;
  left:2px;
  top:24px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u2718 {
  position:absolute;
  left:30px;
  top:32px;
  width:78px;
  height:28px;
  color:#FFFFFF;
  text-align:left;
}
#u2719 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
}
#u2720 {
  position:absolute;
  left:252px;
  top:32px;
  width:78px;
  height:28px;
  color:#FFFFFF;
  text-align:left;
}
#u2721 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2723 {
  position:absolute;
  left:18px;
  top:46px;
  width:21px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2724 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
