body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5650 {
  position:absolute;
  left:10px;
  top:31px;
  width:320px;
  height:45px;
}
#u5651 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u5653 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:21px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  position:absolute;
  left:10px;
  top:76px;
  width:320px;
  height:506px;
}
#u5656 {
  position:absolute;
  left:2px;
  top:245px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5657 {
  position:absolute;
  left:144px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5658 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5660 {
  position:absolute;
  left:18px;
  top:46px;
  width:21px;
  height:21px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5661 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5662 {
  position:absolute;
  left:14px;
  top:542px;
  width:312px;
  height:40px;
  color:#FFFFFF;
}
#u5663 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:20px;
  top:101px;
  width:71px;
  height:16px;
}
#u5665 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:91px;
  top:96px;
  width:226px;
  height:27px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u5668 {
  position:absolute;
  left:293px;
  top:97px;
  width:24px;
  height:25px;
}
#u5669 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  position:absolute;
  left:20px;
  top:138px;
  width:43px;
  height:16px;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
#u5672 {
  position:absolute;
  left:91px;
  top:133px;
  width:223px;
  height:113px;
  color:#CCCCCC;
  text-align:right;
}
#u5673 {
  position:absolute;
  left:2px;
  top:95px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
